openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW Newtify API'
 description: 'Web Resources Specification (A7) for Newtify'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2111/-/wikis/home

tags:
 - name: 'M01: Authentication'
 - name: 'M02: Profile and User Information'
 - name: 'M03: Articles'
 - name: 'M04: Comments'
 - name: 'M05: Tags'
 - name: 'M06: Messages and Notifications'
 - name: 'M07: User Administration'
 - name: 'M08: Static Pages'

paths:

  # M01: Authentication

  /login:
    post:
      operationId: R101
      summary: 'R101: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
              required:
                - username
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful login. Redirect to homepage.'
                  value: '/'
                302Error:
                  description: 'Failed login. Redirect to login form.'
