openapi: 3.0.0

info:
 version: '1.0'
 title: 'LBAW Newtify API'
 description: 'Web Resources Specification (A7) for Newtify'

servers:
- url: http://lbaw.fe.up.pt
  description: Production server

externalDocs:
 description: Find more info here.
 url: https://git.fe.up.pt/lbaw/lbaw2122/lbaw2111/-/wikis/home

tags:
 - name: 'M01: Authentication'
 - name: 'M02: Profile and User Information'
 - name: 'M03: Articles'
 - name: 'M04: Comments'
 - name: 'M05: Tags'
 - name: 'M06: Messages and Notifications'
 - name: 'M07: User Administration'
 - name: 'M08: Static Pages'

paths:
  # M01: Authentication
  /login:
    post:
      operationId: R101
      summary: 'R101: Login action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the login credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful login. Redirect to homepage.'
                  value: '/'
                302Failure:
                  description: 'Failed login. Redirect to login form.'
                  value: '/login'

  /logout:
    post:
      operationId: R102
      summary: 'R102: Logout action'
      description: 'Logout the current authenticated user. Access: USR'
      tags:
        - 'M01: Authentication'

      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to homepage.'
                  value: '/'

  /signup:
    get:
      operationId: 'R103'
      summary: 'R103: Sign-up Form'
      description: 'Provide form for new users. Access: PUB'
      tags:
       - 'M01: Authentication'

      responses:
        '200':
          description: 'Ok. Show sign-up form (UI03)'

    post:
      operationId: 'R104'
      summary: 'R104: Sign-up action'
      description: 'Processes the new user sign-up form submission. Access: PUB'
      tags:
        - 'M01: Authentication'

      requestBody:
        required: true
        content:
          # since we want to upload binary files (avatar)
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password
                birthDate:
                  type: string
                  format: date
                avatar:
                  type: string
                  format: binary
                country:
                  type: string
              required:
                - name
                - email
                - birthDate
                - country
                - password

      responses:
        '302':
          description: 'Redirect after processing the new user sign-up form.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful registration. Redirect to user profile.'
                  value: '/users/{id}'
                302Failure:
                  description: 'Failed registration. Redirect to sign-up form.'
                  value: '/signup'

  # M02: Profile and User Information

  /user/{id}:
    get:
      operationId: R201
      summary: 'R201: View user profile'
      description: 'Show the individual user profile. Access: PUB'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show user profile (UI20)'
        '404':
          description: 'User not found'

    put:
      operationId: R202
      summary: 'R202: Edit user profile action'
      description: 'Processes the user edit profile form submission. Access: OWN'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          # since we want to upload binary files (avatar)
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password
                avatar:
                  type: string
                  format: binary
                country:
                  type: string
                description:
                  type: string
                city:
                  type: string

      responses:
        '302':
          description: 'Redirect after processing the user updated information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful profile edition. Redirect to user profile.'
                  value: '/user/{id}'
                302Failure:
                  description: 'Failed profile edition. Redirect to edit profile form.'
                  value: '/user/{id}/edit'

  # User deletion is hidden behind /api to prevent accidents
  /api/user/{id}:
    delete:
      operationId: R203
      summary: 'R203: Delete user account action'
      description: 'Processes a request to delete a user account. Access: OWN'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '302':
          description: 'Redirect after deleting user account.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful user account deletion. Redirect to homepage.'
                  value: '/'
                302Failure:
                  description: 'Failed to delete user account. Redirect to user profile.'
                  value: '/user/{id}'

  /user/{id}/edit:
    get:
      operationId: R204
      summary: 'R204: User profile edition form'
      description: 'Provide form for user profile edition. Access: OWN'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok. Show user profile edition form (UI21)'
        '401':
          description: 'Unauthorized. Must be authenticated'
        '403':
          description: 'Forbidden. Must be owner of the profile'
        '404':
          description: 'User not found'

  /user/{id}/report:
    post:
      operationId: R205
      summary: 'R205: Report user action'
      description: 'Processes a report made on a user. Access: USR'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                reason:
                  type: string
                reported_at:
                  type: string
                  format: date
              required:
                - reason

      responses:
        '200':
          description: 'Successful user report'
        '400':
          description: 'Failed to report user. Bad request'
        '401':
          description: 'Unauthorized. Must be authenticated'
        '404':
          description: 'User not found'

  /api/user/{id}/suspension:
    get:
      operationId: R206
      summary: 'R206: Suspension information'
      description: 'Provides information about the user suspension. Access: SUR OWN, ADM'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Success.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                  end_date:
                    type: string
                    format: date
                example:
                  reason: 'The user was disrespectful in many occasions.'
                  end_date: '2023-12-04'
        '401':
          description: 'Unauthorized. Must be authenticated'
        '403':
          description: 'Forbidden. Must be owner of the account or administrator'
        '404':
          description: 'User not found'
        '409':
          description: 'User not suspended'

  /user/{id}/followed:
    get:
      operationId: R207
      summary: 'R207: Followed users'
      description: 'Provides a page with the list of users that a given user follows. Access: OWN'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Success. Show list of followed users (UI23)'
        '401':
          description: 'Unauthorized. Must be authenticated'
        '403':
          description: 'Forbidden. Must be owner of the profile'
        '404':
          description: 'User not found'

  /user/{id}/articles:
    get:
      operationId: R208
      summary: 'R208: User articles'
      description: 'Provides a page component with a list of articles written by a given user, in chronological order. Access: PUB'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
          required: false # returns all articles if not specified

      responses:
        '200':
          description: 'Success. Show a list of articles written by the user (UI22)'
        '404':
          description: 'User not found'

  /api/user/{id}/expertise:
    get:
      operationId: R209
      summary: "R209: User's areas of expertise"
      description: "Provides a list of the user's best areas of expertise. Access: PUB"
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tag_id:
                      type: integer
                    tag_name:
                      type: string
                    reputation:
                      type: integer
                maxItems: 5
                example:
                  - tag_id: 2
                    tag_name: 'Sports'
                    reputation: 245

                  - tag_id: 7
                    tag_name: 'Science'
                    reputation: -25
        '404':
          description: 'User not found'

  /user/{id}/follow:
    post:
      operationId: R210
      summary: 'R210: Follow user action'
      description: 'Processes a request to follow another user. Access: USR'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Success'
        '401':
          description: 'Unauthorized. Must be authenticated'
        '404':
          description: 'User not found'

  /user/{id}/unfollow:
    delete:
      operationId: R211
      summary: 'R211: Unfollow user action'
      description: 'Processes a request to unfollow another user. Access: USR'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Success'
        '401':
          description: 'Unauthorized. Must be authenticated'
        '404':
          description: 'User not found'
        '409':
          description: 'Conflict. User not followed'

  /user/search:
    get:
      operationId: R212
      summary: 'R212 : User search'
      description: 'Provides a page component with a list of users, according to the parameters. Access: PUB'
      tags:
        - 'M02: Profile and User Information'

      parameters:
        - in: query
          name: value
          description: 'string used for full-text search'
          schema: 
            type: string
          required: true
        - in: query
          name: offset
          description: 'value used to fetch results starting at a certain value'
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          description: 'value used to limit the number of results'
          schema:
            type: integer
            minimum: 1
          required: false  # returns all users if not specified

      responses:
        '200':
          description: 'OK. Show a list of users that fit the criteria (part of UI19)'

  # M03 : Articles
  /: 
    get:
      operationId: R301
      summary: 'R301: Get Home Page'
      description: 'Fetch Home Page of the application that depends on the user. Access: PUB'
      tags:
        - 'M03: Articles'
      
      # requestBody = session cookie?
      responses:
        '200':
          description: 'OK. Show home page feed (UI01)'

  /search:
    get:
      operationId: R302
      summary: 'R302 : Search Page'
      description: 'Show Search Page given a search type and value. Access: PUB'
      tags:
        - 'M02: Profile and User Information'
        - 'M03: Articles'

      parameters:
        - in: query
          name: type
          description: 'Search type'
          schema: 
            type: string
            enum:
              - 'articles'
              - 'users'
          required: true
        - in: query
          name: query
          description: 'string used for full-text search'
          schema: 
            type: string
          required: false
      
      responses:
        '200':
          description: 'OK. Show Search Page (UI19)'

  /article/search:
    get:
      operationId: R303
      summary: 'R303 : Returns articles according to given parameters'
      description: 'Returns search results according to user parameters. Access: PUB'
      tags:
        - 'M03: Articles'

      parameters:
        - in: query
          name: query
          description: 'string used for full-text search'
          schema: 
            type: string
          required: false
        - in: query
          name: offset
          description: 'value used to fetch results starting at a certain value'
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          description: 'value used to limit the number of results'
          schema:
            type: integer
            minimum: 1
          required: false  # returns all articles if not specified
      
      responses:
        '200':
          description: 'OK. Show a list of articles that fit the criteria'

  /article/filter:
    get:
      operationId: R304
      summary: 'R304 : Return articles according to certain filters'
      description: 'Show filtered articles by certain criteria. Access: PUB'
      tags:
        - 'M03: Articles'

      parameters:
        - in: query
          name: type
          description: 'feed type'
          schema: 
            type: string
            default: 'trending' # Check if this should be default
            enum:
              - 'trending'
              - 'recommended'
              - 'recent'
          required: false
        - in: query
          name: tag
          description: 'filter articles by tag'
          schema:
            type: string
          required: false
        - in: query
          name: offset
          description: 'value used to fetch results starting at a certain value'
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          description: 'value used to limit the number of results'
          schema:
            type: integer
            minimum: 1
          required: false  # returns all articles if not specified
      
      responses:
        '200':
          description: 'OK. Show filter results'

  /article:
    get:
      operationId: R305
      summary: 'R305 : Create article form'
      description: 'Provide new article creation form. Access: USR'
      tags:
        - 'M03: Articles'

      responses:
        '200':
          description: 'OK. Show Create Article form (UI17)'
    
    post:
      operationId: R306
      summary: 'R306 : Create article action'
      description: 'Processes the new article creation form. Access: USR'
      tags:
        - 'M03: Articles'

      requestBody:
        required: true
        content:
           # since we want to upload binary files (thumbnail)
           multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                thumbnail:
                  type: string
                  format: binary
                body:
                  type: string
                tag_ids:
                  type: array
                  minLength: 1
                  maxLength: 3
              required:
                - title
                - body
                - tag_ids
      
      responses:
        '302':
          description: 'Redirect after processing the create article form.'
          headers:
            Location:
              schema:       # CHECK IF THE SCHEMA IS CORRECT. SHOULDN'T IT BE AN OBJECT?
                type: string  
              examples:
                302Success:
                  description: 'Successful article creation. Redirect to Article Page.'
                  value: '/article/{id}'
                302Failure:
                  description: 'Failed article creation. Redirect to Create Article form.'
                  value: '/article'

  /article/{id}:
    get:
      operationId: R307
      summary: 'R307 : View Article Page'
      description: 'View an Article Page. Access: PUB'
      tags:
        - 'M03: Articles'

      parameters:
        - in: path
          name: id
          schema: 
            type: integer
          required: true
      
      responses:
        '200':
          description: 'OK. Show Article Page (UI13)'
        '404':
          description: 'Article not found'

    put:
      operationId: R308
      summary: 'R308 : Edit article action'
      description: 'Processes the user edit profile form submission. Access: OWN'
      tags:
        - 'M03: Articles'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      
      requestBody:
        required: true
        content:
          # since we want to upload binary files (thumbnail)
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                thumbnail:
                  type: string
                  format: binary
                body:
                  type: string
      
      responses:
        '302':
          description: 'Redirect after processing the article updated information'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful article edition. Redirect to the article page.'
                  value: '/article/{id}'
                302Failure:
                  description: 'Failed article edition. Redirect to the edit article page.'
                  value: '/article/{id}/edit'
    
    delete:
      operationId: R309
      summary: 'R309 : Delete article action'
      description: 'Processes a request to delete an article. Access: OWN, ADM'
      tags:
        - 'M03: Articles'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      
      responses:
        302:
          description: 'Redirect after deleting article.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful article deletion. Redirect to homepage.'
                  value: '/'
                302Failure:
                  description: 'Failed to delete article. Redirect to article page'
                  value: '/article/{id}'

  /article/{id}/edit:
    get:
      operationId: R310
      summary: 'R310 : Article edition form'
      description: 'Provide a form for article edition. Access: OWN'
      tags:
        - 'M03: Articles'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      
      responses:
        '200':
          description: 'OK. Show article edition form (UI14)'
        '401':
          description: 'Unauthorized. Must be authenticated.'
        '403':
          description: 'Unauthorized. Must be the owner of the article'
        '404':
          description: 'Article not found'
  
  # M04 : Comments
  /comment:
    get:
      operationId: R401
      summary: '401 : Create comment form'
      description: 'Provide new comment creation form. Access: USR'
      tags:
        - 'M04: Comments'

      responses:
        '200':
          description: 'OK. Show Create Comment form (part of UI13)'
        '401':
          description: 'Unauthorized. Must be authenticated.'
    
    post:
      operationId: R402
      summary: 'R402 : Create comment action'
      description: 'Processes the new comment creation form. Access: USR'
      tags:
        - 'M04: Comments'

      requestBody:
        required: true
        content:
           application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                body:
                  type: string
                article_id:
                  type: integer
                parent_coment_id:
                  type: integer
              required:
                - body
                - article_id
      
      responses:
        '200':
          description: 'Successful comment creation. Return created comment'
        '400':
          description: 'Failed to create comment. Bad request'
        '401':
          description: 'Unauthorized. Must be authenticated.'
        '404':
          description: '[Article | Parent Comment] id not found.'  # CHECK IF WE SHOULD SPECIFIY EACH CASE?
  
  /comment/{id}:
    put:  # Do we need a form endpoint to edit the comment? I believe it could be in the HTML already returned by the article. However, I've added one to create a comment and maybe it's the same logic
      operationId: R403
      summary: 'R403 : Edit comment action'
      description: 'Processes a comment edition. Access: OWN'
      tags:
        - 'M04: Comments'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                body:
                  type: string
      
      responses:
        '200':
          description: 'Successful comment update. Return updated comment'
        '400':
          description: 'Failed to update comment. Bad request'
        '401':
          description: 'Unauthorized. Must be authenticated.'
        '403':
          description: 'Forbidden. Must be the owner of the comment.'
        '404':
          description: 'Comment id not found.'
    
    delete:
      operationId: R404
      summary: 'R404 : Delete comment action'
      description: 'Processes a request to delete a comment. Access: OWN, ADM'
      tags:
        - 'M04: Comments'
      
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      
      responses:
        '200':
          description: 'Successful comment deletion. Return deleted comment'
        '401':
          description: 'Unauthorized. Must be authenticated.'
        '403':
          description: 'Forbidden. Must be the owner of the comment.'
        '404':
          description: 'Comment id not found.'

  /comment/article/{id}:
    get:
      operationId: R405
      summary: 'R405 : Comments of a given article'
      description: 'Returns comments of a given article according to user parameters. Access: PUB'
      tags:
        - 'M04: Comments'
      parameters:
        - in: path
          name: id
          description: 'article id'
          schema: 
            type: integer
          required: true
        - in: query
          name: offset
          description: 'value used to fetch results starting at a certain value'
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
        - in: query
          name: limit
          description: 'value used to limit the number of results'
          schema:
            type: integer
            minimum: 1
          required: false  # returns all articles if not specified
      
      responses:
        '200':
          description: 'OK. Return a list of comments that fit the criteria'
        '404':
          description: 'Article id not found.'






  


            


  

      

