body {
    background-color: #ffffff;
}

/* Navbar */

#logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6em;
    color: #9b4dca;

    display: flex;
    justify-content: center;
    align-items: center;
}

#searchForm {
    border-radius: 2em 1em 1em 2em;
    position: relative;
    top: 0.6em;
}

#searchForm input {
    color: grey;
    font-size: medium;
    box-shadow: none;
}

#searchDropdown {
    width: 25%;
    position: relative;
    left: 1%;
}

#searchDropdownButton {
    width: 100%;
    border-radius: 0.5em;
    border-width: 0; /* Disable bootstrap's button border */
    font-size: medium;
    text-transform: none;
    letter-spacing: inherit;
    box-shadow: none;
}

#searchType {
    width: 25%;
    border-width: 0 1px 0 1px;
    border-radius: 0.5em;

    position: relative;
    left: 1%;

    cursor: pointer;
}

#searchType:focus {
    border-color: inherit;
}

.dropdown-custom-item {
    font-size: small;
    line-height: 3em;
}

.dropdown-custom-item:hover {
    cursor: pointer;
}

.dropdown-custom-item:active {
    background-color: #9b4dca !important;
}

.no-border {
    border: 0 !important;
}

.button-secondary {
    color: rgb(200, 100, 241);
    border-color: rgb(200, 100, 241);
    background-color: inherit;
}

#dropdownContainer {
    width: 12%;
    height: auto;
    margin-right: 8%;
}

#mainDropdown {
    width: 250%;
    left: 50%;
    transform: translateX(-50%);
}

#dropdownAvatar {
    border-radius: 2em;
}

/* HomePage */

.home-section .home-container {
    background-color: lightgray;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.home-section #createArticle .addIcon {
    position: absolute;
    top: 10%;
    left: -30%;
    font-size: large; /* fontSize impacts the icon size */
    color: inherit;
}

#tag-name {
    background-color: white;
}

#filterSection {
    width: 59%;
    margin-left: 20.5%;
}

.filter-button {
    border-radius: 1em !important;
    width: 10em;
    font-size: 1.2em;
    justify-content: center;
}

.filter-tag {
    font-size: 2em;
}

/* Partial Article */

#articles h1,
#articles h2,
#articles h3,
#articles h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Partial Article, just putting here for now then we change */
#articles .card {
    margin-bottom: 15px;
    border-radius: 1rem;
}

#articles .card .card-title i {
    margin-left: 10px;
    font-size: medium;
}

#articles .card a {
    width: 80%;
    color: gray;
    text-decoration: none;
}

#articles .card a:hover {
    background-color: lightgray;
}

#articles .card-header {
    width: 20%;
}

#articles .card-header img {
    width: 100%;
}

#articleTitle {
    font-size: 2.7em;
}

#articleBody {
    white-space: pre-line;
}

#articleButtons {
    width: 16%;
}

.article-button {
    font-size: 2em;
}

#load-more {
    text-align: center;
}

/* Partial Author Information */
#authorDescription {
    height: 35%;
}

#authorAreaExpertise {
    height: 40%;
}

/* Full Article Page */
.article-container {
    width: 85%;
}

.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
*/ .article-container #article-header i {
    width: 0.8em;
    height: 0.7em;
}

.articleInfoContainer {
    width: 70%;
}

.author-container {
    background-color: #dbd7d2;
    width: 30%;
    max-height: 50em;
}

.author-container .row {
    margin-left: 0.1rem;
}

.author-container p {
    margin: 0;
}

.author-container #authorAvatar {
    border-radius: 50%;
    aspect-ratio: 1
}

#comments-section .commentHeader {
    margin: 0;
    padding: 0;
    height: 5em;
    width: 5em;
    font-size: small;
    text-align: center;
}

#deleteArticleForm {
    display: none;
}

/* Forms Errors */

.error-container {
    height: 10%;
}

/* Article Form */

.article-form {
    position: relative;
    min-height: 70vh;
}

/* Select2 Tags */

.select2-selection--multiple {
    background-color: transparent !important;
}

/* User Profile */

#userInfo {
    height: 60vh;
    background-color: lightgray;
}

#userInfo #userGraphics {
    height: 40%;
}

#userInfo #userGraphics #avatarImg{
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100em;
}

/* Areas of expertise */

#graphContainer {
    width: 100%;
    border-width: 0.2em;
    border-style: solid;
    border-color: gray;
    border-radius: 1.5em;
    background-color: #95a5a6;
}

#graphContainer .tagName {
    width: 22%;
}

#graphContainer .tagBar {
    background-color: orange;
    height: 1.2em;
}

#userInfo #description {
    padding-left: 10%;
    width: 90%;
}

.transparentButton {
    background-color: transparent;
    border-color: transparent;
}

.transparentButton:hover {
    background-color: transparent;
    border-color: transparent;
}

.transparentButton:focus {
    background-color: transparent;
    border-color: transparent;
}

/* Reputation Bar */
#reputationBar #reportIcon {
    color: darkred;
}

#reputationBar #bar {
    background-color: gray;
    width: 15em;
    height: 1.5em;
    border-radius: 0.7em;
}

#userProfileContainer #userArticles #articlesTitle {
    width: 20%;
}

/* Alerts */

.alert-custom {
    background-color: #9a4dca91;
    color: rgb(137, 7, 218);
}

.search-nfo {
    margin-left: 15%;
    margin-right: 15%;
}

/* Badges */

.bg-custom {
    background-color: #9b4dca;
}

/* User Cards */

.user-card {
    border-color: #d3d6d854;
}

.user-card-avatar {
    width: 20%;
    align-self: center;
}

.user-card-body {
    width: 60%;
}

.user-card-location {
    color: grey;
    font-size: 0.9em;
}

.user-card-description {
    color: #41464b;
}

.user-card-right {
    width: 20%;
}

/* Report Popup */

#userProfileContainer #reportElement {
    position: absolute;
    width: 100%;
    height: 100%;
}

#userProfileContainer #reportContainer {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 20%;
    right: 25%;
}

#userProfileContainer #reportContainer #reportInsideContainer {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    border-radius: 3em;
}

#userProfileContainer #reportContainer #reason {
    width: 70%;
    height: 50%;
    border-color: black;
}

#userProfileContainer #reportContainer #closePopupBtn {
    position: absolute;
    right: 5em;
    top: 3em;
}

#userProfileContainer #backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
}

/* Edit Profile */
#editProfileContainer {
    background-color: lightgray;
}

#editProfileContainer #editAvatarContainer {
    height: 27.5vh;
}

#editProfileContainer #editAvatarContainer #avatarPreview {
    height: 80%;
    aspect-ratio: 1;
    border-radius: 100em;
    margin-right: 3em;
}

#editProfileContainer .editInputs {
    border: 2px black solid;
    height: 3em;
    background-color: inherit;
}

#editProfileContainer .caretDown {
    right: 0.2em;
    pointer-events: none;
}

#editProfileContainer #countryInputContainer {
    border: 2px black solid;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    min-width: 10em;
}

#editProfileContainer #favTagsBtn {
    right: 35vw;
    top: 20vh;
    font-size: large;
    background-color: #923ac9;
    border-radius: 0.3em;
}

/* Favorite Tags */
#tagsContainer .tagContainer {
    height: 15em;
    margin: 0.75em;
    border-radius: 2em;
    background-color: #343434;
    cursor: pointer;
}

#tagsContainer .selectedTag {
    background-color: green;
}

#tagsContainer #favoriteTagsButton {
    width: 15em;
    height: 4em;
    border-radius: 3em;
}
