body {
    color: var(--bs-body-color);
}

input,
select,
textarea {
    color: white;
}

option {
    color: black;
}

/* Navbar */

#logo {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6em;
    color: #9b4dca;

    display: flex;
    justify-content: center;
    align-items: center;
}

#searchForm {
    border-radius: 2em 1em 1em 2em;
    position: relative;
    top: 0.6em;
}

#searchForm input {
    color: white;
    font-size: medium;
    box-shadow: none;
}

#searchDropdown {
    width: 25%;
    position: relative;
    left: 1%;
}

#searchDropdownButton {
    width: 100%;
    border-radius: 0.5em;
    border-width: 0; /* Disable bootstrap's button border */
    font-size: medium;
    text-transform: none;
    letter-spacing: inherit;
    box-shadow: none;
}

#searchType {
    width: 25%;
    border-width: 0 1px 0 1px;
    border-radius: 0.5em;

    position: relative;
    left: 1%;

    cursor: pointer;
}

#searchType:focus {
    border-color: inherit;
}

.dropdown-custom-item {
    font-size: small;
    line-height: 3em;
}

.dropdown-custom-item:hover {
    cursor: pointer;
}

.dropdown-custom-item:active {
    background-color: #9b4dca !important;
}

.no-border {
    border: 0 !important;
}

.button-secondary {
    color: rgb(200, 100, 241);
    border-color: rgb(200, 100, 241);
    background-color: inherit;
}

#dropdownContainer {
    max-width: 3.5em;
    max-height: 3.5em;
    width: auto;
    height: auto;
    margin-right: 8%;
}

#mainDropdown {
    width: 250%;
    left: 50%;
    transform: translateX(-50%);
}

#dropdownAvatar {
    border-radius: 2em;
    aspect-ratio: 1;
}

/* HomePage */

.home-section .home-container {
    padding-top: 2em;
    padding-bottom: 2em;
}

#tag-name {
    background-color: white;
}

#filterSection {
    width: 70%;
    margin: auto;
}

.filter-button {
    border-radius: 1em !important;
    width: 10em;
    font-size: 1.2em;
    justify-content: center;
}

.filter-tag {
    font-size: 2em;
}

/* Partial Article */

#articles {
    padding: 0;
    width: 70%;
}

#articles h1,
#articles h2,
#articles h3,
#articles h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Partial Article, just putting here for now then we change */
#articles .card {
    height: 20vh;
    margin-bottom: 1em;
    border-radius: 1rem;
}

#articles .card .card-title i {
    margin-left: 10px;
    font-size: medium;
}

#articles .card a {
    width: 80%;
    color: white;
    text-decoration: none;
}

#articles .card:hover {
    /* background-color: var(--dark); */
    border: 2px solid var(--bs-white);
}

#articles .card-header {
    width: 20%;
}

#articles .card-header img {
    width: 100%;
}

#articleTitle {
    font-size: 2.7em;
}

#articleBody {
    white-space: pre-line;
    font-size: large;
}

#articleButtons {
    width: 16%;
}

.article-button {
    font-size: 2em;
}

#load-more {
    text-align: center;
}

/* Partial Author Information */
#authorDetails {
    height: 40%;
    color: white;
}

#authorDetails h4 {
    font-weight: normal;
    color: var(--bs-purple);
}

#authorDetails h4:hover {
    filter: brightness(1.25);
}

#authorDescription {
    height: 20%;
}

#authorAreaExpertise {
    height: 40%;
}

/* Full Article Page */
.article-container {
    width: 85%;
}

.article-container h1,
.article-container h2,
.article-container h3,
.article-container h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
*/ .article-container #article-header i {
    width: 0.8em;
    height: 0.7em;
}

.articleInfoContainer {
    width: 70%;
    height: 100%;
}

.articleInfoContainer #publishedAt {
    font-size: 1.2em;
    width: 25%;
}

.author-container {
    background-color: var(--bs-gray-700);
    width: 30%;
    max-height: 50em;
    border: 2px solid var(--bs-gray-600);
}

.author-container .row {
    margin-left: 0.1rem;
}

.author-container p {
    margin: 0;
}

.author-container #authorAvatar {
    border-radius: 50%;
    aspect-ratio: 1;
}

#comments-section .commentHeader {
    margin: 0;
    padding: 0;
    height: 5em;
    width: 5em;
    font-size: small;
    text-align: center;
}

#deleteArticleForm {
    display: none;
}

/* Forms Errors */

.error-container {
    height: 10%;
}

/* Article Form */

.article-form {
    position: relative;
    min-height: 70vh;
}

/* Select2 Tags */

.select2-selection--multiple {
    background-color: transparent !important;
}

.select2-selection__choice {
    background-color: var(--bs-primary) !important;
}

.select2-results {
    background-color: var(--bs-dark);
}

/* User Profile */

#userInfo {
    height: 60vh;
}

#userInfo #userGraphics {
    height: 40%;
}

#userInfo #userGraphics #avatarImg {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100em;
}

/* Areas of expertise */

#graphContainer {
    width: 100%;
    border-width: 0.2em;
    border-style: solid;
    border-color: var(--bs-light);
    border-radius: 1.5em;
    background-color: var(--bs-gray-800);
}

#graphContainer .tagName {
    width: 22%;
}

#graphContainer .tagBar {
    background-color: var(--bs-orange);
    height: 1.2em;
}

#userInfo #description {
    padding-left: 10%;
    width: 90%;
}

.transparentButton {
    background-color: transparent;
    border-color: transparent;
}

.transparentButton:hover {
    background-color: transparent;
    border-color: transparent;
}

.transparentButton:focus {
    background-color: transparent;
    border-color: transparent;
}

/* Reputation Bar */
#reputationBar #reportIcon {
    color: darkred;
}

#reputationBar #bar {
    background-color: gray;
    width: 15em;
    height: 1.5em;
    border-radius: 0.7em;
}

#userProfileContainer #userArticles #articlesTitle {
    width: 20%;
}

/* Alerts */

.alert-custom {
    background-color: var(--bs-darkPurple);
}

.search-nfo {
    margin-left: 15%;
    margin-right: 15%;
}

/* Badges */

.bg-custom {
    background-color: #9b4dca;
}

/* User Cards */

.user-card {
    border-color: var(--bs-gray-600);
}

.user-card-avatar {
    width: 20%;
    align-self: center;
}

.user-card-body {
    width: 60%;
}

.user-card-location {
    font-size: 0.9em;
}

.user-card-right {
    width: 20%;
}

/* Report Popup */

#userProfileContainer #reportElement {
    position: absolute;
    width: 100%;
    height: 100%;
}

#userProfileContainer #reportContainer {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 20%;
    right: 25%;
}

#userProfileContainer #reportContainer #reportInsideContainer {
    width: 100%;
    height: 100%;
    background-color: var(--bs-dark);
    border-radius: 3em;
}

#userProfileContainer #reportContainer #reason {
    width: 70%;
    height: 50%;
    border-color: var(--bs-light);
    color: white;
}

#userProfileContainer #reportContainer #closePopupBtn {
    position: absolute;
    right: 5em;
    top: 3em;
}

#userProfileContainer #backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.75;
}

/* Edit Profile */
#editProfileContainer #editAvatarContainer {
    height: 25vh;
}

#editProfileContainer #editAvatarContainer #avatarPreviewContainer {
    height: 80%;
}

#editProfileContainer #editAvatarContainer #avatarPreview {
    height: 100%;
    aspect-ratio: 1;
    width: auto;
    border-radius: 100em;
    margin-right: 3em;
}

#editProfileContainer .editInputs {
    border: 2px var(--bs-light) solid;
    height: 4em;
    background-color: inherit;
}

#editProfileContainer .caretDown {
    right: 0.2em;
    pointer-events: none;
}

#editProfileContainer #countryInputContainer {
    border: 2px var(--bs-light) solid;
    height: 3em;
    min-width: 10em;
}

#editProfileContainer #favTagsBtn {
    right: 35vw;
    top: 20vh;
    font-size: large;
    background-color: #923ac9;
    border-radius: 0.3em;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.9);
}

/* Favorite Tags */
#tagsContainer .tagContainer {
    height: 15em;
    margin-left: 1em;
    margin-right: 0;
    margin-bottom: 1em;
    border-radius: 2em;
    background-color: #343434;
    cursor: pointer;
}

#tagsContainer .selectedTag {
    background-color: green;
}

#tagsContainer #favoriteTagsButton {
    width: 15em;
    height: 4em;
    border-radius: 3em;
}

/* Admin Panel */

.manageContainer:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.linkContainer {
    height: 35vh;
    text-align: center;
}

.iconContainer {
    position: relative;
    top: 25%;
    width: 50%;
    height: 50%;
    margin: auto;
    font-size: 5vw;
    background-color: darkgray;
}

.manageLink {
    height: 35vh;
    font-size: 2vw;
    text-align: center;
}

.suspensionsIcon,
.reportsIcon,
.tagsIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Tags Managment */

.statusContainer {
    max-height: 90vh;
    overflow-y: scroll;
}

.statusContainer .manageTagContainer {
    border-top: 1px solid black;
}

/* App Content */
#contentContainer {
    min-height: 75vh;
    background-color: var(--bs-body-bg);
}

/* Navbar and Footer*/
#navbarContainer {
    height: 10vh;
}

#footerContainer {
    height: 15vh;
}

#footerContainer #copyrightContainer {
    background-color: var(--bs-gray-900);
}

/* Custom Bootstrap Variables */
.text-purple {
    color: var(--bs-purple);
}

.text-purple-dark {
    color: var(--bs-darkPurple);
}

.btn-purple-transparent {
    color: var(--bs-darkPurple);
}

.btn-purple-transparent:hover {
    color: var(--bs-purple);
}

.text-light-white {
    color: var(--bs-gray-300);
}

.purpleLink {
    color: var(--bs-purple);
    font-weight: bolder;
}

.purpleLink:hover {
    color: var(--bs-lightPurple);
}

/* Horizontal Divider */
.horizontalDivider {
    height: 0.1em;
    background-color: var(--darkPurple);
    width: 40%;
}
