/* Styles for screens md > */
@media screen and (max-width: 992px) {
    body {
        font-size: small;
    }

    h1,
    .h1 {
        font-size: 2.7rem;
    }

    h2,
    .h2 {
        font-size: 2.3rem;
    }

    h3,
    .h3 {
        font-size: 2rem;
    }

    h4,
    .h4 {
        font-size: 1.5rem;
    }

    h5,
    .h5 {
        font-size: 1.3rem;
    }

    h6,
    .h6 {
        font-size: 1.2rem;
    }

    .font-1x {
        font-size: 1em;
    }
    .font-2x {
        font-size: 1.5em;
    }
    .font-3x {
        font-size: 2.5em;
    }

    /* Articles */
    #articles {
        padding: 0;
        width: 85%;
    }

    #articles .card {
        height: 15vh;
        min-height: 8em;
    }

    #articles .card a {
        width: 70%;
        color: white;
        text-decoration: none;
    }

    #articles .card .card-title i {
        margin-left: 10px;
        font-size: small;
    }

    #articles .card-header {
        display: flex;
        align-items: center;
        width: 30%;
    }

    /* Navbar */
    #searchForm {
        border-radius: 2em 1em 1em 2em;
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #searchForm input {
        color: white;
        font-size: medium;
        box-shadow: none;
    }

    #searchDropdown {
        width: 70%;
        position: relative;
        left: 1%;
    }

    #searchDropdownButton {
        width: 100%;
        border-radius: 0.5em;
        border-width: 0; /* Disable bootstrap's button border */
        font-size: small;
        text-transform: none;
        letter-spacing: inherit;
        box-shadow: none;
    }

    #dropdownContainer {
        max-width: 2.5em;
        max-height: 2.5em;
        width: auto;
        height: auto;
        margin-right: 2em;
    }

    /* User Profile */
    #userInfo #userGraphics #avatarImg {
        height: 70%;
        aspect-ratio: 1;
        border-radius: 100em;
    }

    #areasOfExpertiseContainer {
        width: 90%;
    }

    .linkContainer {
        height: 27vh;
        text-align: center;
    }

    .manageLink {
        height: 13vh;
        font-size: 2vw;
        text-align: center;
    }

    #adminBadge {
        position: absolute;
        top: -10px;
        right: 0;
    }

    /* Edit Profile */
    #editProfileContainer #editProfileForm {
        width: 95%;
    }

    #editProfileContainer .editInputs {
        border: 2px var(--bs-light) solid;
        height: 3em;
        background-color: inherit;
        font-size: 1.1em;
        width: 100%;
    }

    /* Authentication */
    #registerContainer {
        width: 85%;
    }
    #loginContainer {
        width: 75%;
    }
    #forgetPasswordContainer {
        width: 75%;
    }
    #resetPassContainer {
        width: 75%;
    }
    #loginContainer .loginBtn {
        width: 75%;
    }

    /* Article */
    .article-container {
        width: 90%;
    }

    .article-container #articleContentContainer {
        min-height: 60vh;
    }

    #articleTitle {
        font-size: 2.1em;
    }

    .articleInfoContainer {
        width: 100%;
        height: 100%;
    }

    .articleInfoContainer #publishedAt {
        width: auto;
    }

    .articleInfoContainer #articleImg {
        max-width: 75%;
    }

    #articleBody {
        white-space: pre-line;
        font-size: medium;
    }

    #comments-section #articleCommentsContainer {
        width: 100%;
    }

    .articleCommentPartial {
        width: 100%;
    }

    .author-container {
        width: 92%;
        height: 40em;
    }

    /* Report popup */
    #reportContainer {
        position: absolute;
        width: 90%;
        height: 40%;
        top: 30%;
        right: 5%;
    }

    #closePopupBtn {
        display: none;
    }

    /* Socials Popup */
    #socialsPopupContainer {
        position: absolute;
        width: 90%;
        height: 40%;
        top: 30%;
        right: 5%;
    }

    .user-card-body {
        width: 55%;
    }

    .user-card-right {
        width: 25%;
    }
}
