/* Styles for screens md > */
@media screen and (max-width: 768px) {
    body {
        font-size: small;
    }

    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    h3 {
    }

    h4 {
        font-size: 1.5rem;
    }

    .icon-1x {
        font-size: 1em;
    }
    .icon-2x {
        font-size: 1.5em;
    }
    .icon-3x {
        font-size: 2.5em;
    }

    /* Articles */
    #articles {
        padding: 0;
        width: 85%;
    }

    #articles .card {
        height: 15vh;
        margin-bottom: 1em;
        border-radius: 1rem;
    }

    #articles .card a {
        width: 70%;
        color: white;
        text-decoration: none;
    }

    #articles .card .card-title i {
        margin-left: 10px;
        font-size: small;
    }

    #articles .card-header {
        display: flex;
        align-items: center;
        width: 30%;
    }

    /* Navbar */
    #searchForm {
        border-radius: 2em 1em 1em 2em;
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #searchForm input {
        color: white;
        font-size: medium;
        box-shadow: none;
    }

    #searchDropdown {
        width: 70%;
        position: relative;
        left: 1%;
    }

    #searchDropdownButton {
        width: 100%;
        border-radius: 0.5em;
        border-width: 0; /* Disable bootstrap's button border */
        font-size: small;
        text-transform: none;
        letter-spacing: inherit;
        box-shadow: none;
    }

    #dropdownContainer {
        max-width: 2.5em;
        max-height: 2.5em;
        width: auto;
        height: auto;
        margin-right: 2em;
    }

    /* User Profile */
    #userInfo #userGraphics #avatarImg {
        height: 70%;
        aspect-ratio: 1;
        border-radius: 100em;
    }

    #areasOfExpertiseContainer {
        width: 90%;
    }
}
